certifi==2020.12.5
chardet==3.0.4
cycler==0.10.0
idna==2.10
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.3
mysqlclient==2.0.2
numpy==1.19.4
pandas==1.1.5
pandaSDMX==1.1.0
Pillow==8.0.1
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
scipy==1.5.4
seaborn==0.11.0
six==1.15.0
urllib3==1.26.2